= render '/shared/content_title', title: "Login"
.well
  = form_tag '/login'
  .control-group
    = label_tag :username
    = text_field_tag :username, params[:username] || ''
  .control-group
    = label_tag :password
    = password_field_tag :password, params[:password] || ''
  .control-group
    = submit_tag "Login", class: 'btn btn-success'
    = link_to "Register", register_path
