= render '/shared/content_title', title: "Login"

.well
  = bootstrap_form_tag url: '/login', layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
    = f.text_field :username
    = f.password_field :password
    = f.form_group do
      = f.submit "Login", class: 'btn btn-success'
      = link_to "Register", register_path
      