.well
  = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
    = f.text_field :username
    = f.password_field :password
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name
    = f.form_group do
      = f.submit(@user.new_record? ? "Register" : "Edit", class: 'btn btn-success')
      = link_to "Login", login_path
      