- 10.times do |n|
  .post.row.clearfix
    %h2
      = link_to "sample #{n + 1}", root_path
    %span.label.label-primary 10 votes
    %br
    %small.author.text-muted
      Submitted 1 hours ago by abc@email.com
    %h2.post-categories
      %a.text-muted
        %i.devicon-rails-plain-wordmark
      %a.text-muted
        %i.devicon-python-plain-wordmark
      %a.text-muted
        %i.devicon-wordpress-plain-wordmark
      %a.text-muted
        %i.devicon-html5-plain-wordmark
      %a.text-muted
        %i.devicon-css3-plain-wordmark
      %a.text-muted
        %i.devicon-bootstrap-plain-wordmark    
    .btn-group
      %a.btn.btn-default.btn-sm{:href => "#"} Visit Link
      = link_to root_path, class: "btn btn-default btn-sm" do
        = fa_icon "thumbs-up"
        %span.text-success +12
      = link_to root_path, class: "btn btn-default btn-sm" do
        = fa_icon "thumbs-down"
        %span.text-danger -13
