.link.row.clearfix
  %h2
    = link_to "sample", root_path
    %br/
    %small.author
      Submitted 1 hours ago by abc@email.com
  .btn-group
    %a.btn.btn-default.btn-sm{:href => "#"} Visit Link
    = link_to root_path, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-up
      Upvote
      \#
    = link_to root_path, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-down
        Downvote
        \#
.link.row.clearfix
  %h2
    = link_to "sample", root_path
    %br/
    %small.author
      Submitted 1 hours ago by abc@email.com
  .btn-group
    %a.btn.btn-default.btn-sm{:href => "#"} Visit Link
    = link_to root_path, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-up
      Upvote
      \#
    = link_to root_path, class: "btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-chevron-down
        Downvote
        \#