.well
  = bootstrap_form_for @post, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f|
    = f.text_field :title
    = f.text_field :url
    = f.text_area :description, size: "5x5"
    %br
    = f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
      - cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text}
    %br
    = f.submit @post.new_record? ? "Create" : "Update" , class: "btn btn-success"
