= form_for @post do |f|
  = f.label :title, "New Post"
  = f.text_field :title
  = f.label :url
  = f.text_field :url
  = f.label :description, "Post description"
  = f.text_area :description, size: "5x5"
  %br/
  = f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
    - cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text}
  %br/
  = f.submit @post.new_record? ? "Create" : "Update" , class: "btn btn-success"
