%h2.post-categories
  - if @post.categories.empty?
    %em
      %h6.text-muted  No category
  -else
    = render @post.categories
.page-header
  %header
    - if @post.creator == current_user
      = link_to edit_post_path(@post), class: "text-success" do
        Edit
        = fa_icon "edit"
    - if @post.creator.is_admin?
      = link_to "#", data: { confirm: 'Cannot be revoke' }, class: "text-danger" do
        Delete
        = fa_icon "trash"
  %h1.text-info 
    #{@post.title.titleize}
    = link_to 'Visit URL', @post.url, target: "_blank", class: "btn btn-info btn-sm"
  %small.author.text-muted 
    Submitted #{time_ago_in_words(@post.created_at)} ago by #{link_to @post.creator.username, @post.creator}
  %p= @post.description
.post_wrapper.clearfix
  .post_info.pull-left
    %small.text-primary{id: "post_votes_#{@post.id}"}
      = fa_icon "user-o"
      %small #{@post.total_votes} votes
    = link_to @post, class: "text-muted" do
      = fa_icon "comment-o"
      %span.text-info #{@post.comments.size}
    = link_to vote_post_path(@post, vote: true), method: 'post', remote: 'true', class: "text-info" do
      = fa_icon "thumbs-o-up"
      %span.text-success= @post.likes
    = link_to vote_post_path(@post, vote: false), method: 'post', remote: 'true', class: "text-danger" do
      = fa_icon "thumbs-o-down"
      %span.text-warning #{@post.dislikes == 0 ? "0" : "-#{@post.dislikes}"}
%section.emotion
  = render 'shared/emotion', model: @post

%form.form-horizontal
  %fieldset
    %label{:for => "exampleTextarea"} Post Your comment
    %textarea#exampleTextarea.form-control{:rows => "3"}
    %button.btn.btn-default{:type => "submit"} Submit

%h3.comments_title 
  = fa_icon "comment-o"
  #{@post.comments.length} comments
#comments
  = render @post.comments


-# %hr
-# - if logged_in?
-#   = form_for [@post, @comment] do |f|
-#     = f.label :body, "Comment"
-#     = f.text_area :body, size: "5x5"
-#     %br/
-#     = f.submit "Create", class: "btn btn-success"