%h2.post-categories
  = render @post.categories || "<h6>No category</h6>".html_safe
.page-header
  %h1.text-info 
    #{@post.title}
    = link_to 'Visit URL', @post.url, target: "_blank", class: "btn btn-info btn-sm"
  %small.author.text-muted 
    Submitted #{time_ago_in_words(@post.created_at)} ago by #{link_to @post.creator.username, @post.creator}
  %p= @post.description
.post_wrapper.clearfix
  .post_info.pull-left
    %small.text-primary{id: "post_votes_#{@post.id}"}
      = fa_icon "user-o"
      %small #{@post.total_votes} votes
    = link_to @post, class: "text-muted" do
      = fa_icon "comment-o"
      %span.text-info #{@post.comments.size}
    = link_to vote_post_path(@post, vote: true), method: 'post', remote: 'true', class: "text-info" do
      = fa_icon "thumbs-o-up"
      %span.text-success= @post.likes
    = link_to vote_post_path(@post, vote: false), method: 'post', remote: 'true', class: "text-danger" do
      = fa_icon "thumbs-o-down"
      %span.text-warning #{@post.dislikes == 0 ? "0" : "-#{@post.dislikes}"}


%form.form-horizontal
  %fieldset
    %label{:for => "exampleTextarea"} Post Your comment
    %textarea#exampleTextarea.form-control{:rows => "3"}
    %button.btn.btn-default{:type => "submit"} Submit

%h3.comments_title 
  = fa_icon "comment-o"
  #{@post.comments.length} comments
#comments
  = render @post.comments


-# %hr
-# - if logged_in?
-#   = form_for [@post, @comment] do |f|
-#     = f.label :body, "Comment"
-#     = f.text_area :body, size: "5x5"
-#     %br/
-#     = f.submit "Create", class: "btn btn-success"